/* Bubble.css */

.Bubble {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 650px;
  width: 1200px;
  min-width: 500px;
  padding: 2.5%;
  margin: 0 auto;
  border-radius: 1.25rem;
  background-color: var(--Components);
  box-shadow: var(--Shadow);
  -webkit-border-radius: 1.25rem;
  -moz-border-radius: 1.25rem;
  -ms-border-radius: 1.25rem;
  -o-border-radius: 1.25rem;
}

.Bubble h2 {
  text-align: center;
  margin-bottom: 30px;
  color: var(--Header);
  font-weight: 700;
  letter-spacing: -0.02em;
}

