.Dashboard {
  display: flex;
  width: 100%;
  height: calc(100vh - 80px); /* Height minus Navbar */
  background-color: var(--BG);
}

.Sidebar {
  width: 280px;
  background-color: var(--Components);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  padding: 2rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.Sidebar-Title {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--Accent);
  font-weight: 800;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--Secondary);
}

.Sidebar ul {
  list-style: none;
}

.Sidebar li {
  padding: 14px 18px;
  margin-bottom: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 10px;
  font-weight: 500;
  color: var(--TEXT);
}

.Sidebar li:hover {
  background-color: var(--Secondary);
}

.Sidebar li.active {
  background-color: var(--Accent);
  color: white;
  box-shadow: 0 4px 12px rgba(28, 85, 156, 0.3);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.Al-Ds-Viewer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Start from top but centered */
  padding: 40px;
  overflow-y: auto;
}