/* index.css(global styles) */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html,
#root {
  height: 100%;
  width: 100%;
  background-color: var(--BG);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--TEXT);
}

:root {
  --BG: #ecf7fe;
  --Components: #f6ffff;
  --TEXT: #1d1d1f;
  --Header: #1d1d1f;
  --Primary: #20a4f3;
  --Secondary: #ebe7ee;
  --Accent: #1c559c;
  --Shadow: 0 8px 12px #06214857;
  --Border: #091c34;
  --Radius: 12px;
  --Blur: blur(20px);
}
